@media (max-width: 1405px) {
  .card--gift {
    padding: 65px 40px 20px 160px;
  }
}

@media (max-width: 1375px) {
  .cards-grid--menu {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, auto);
  }
  .card--product {
    align-items: center;
    justify-content: center;
    background-color: transparent;
  }
}

@media (max-width: 1330px) {
  .header {
    width: 17%;
  }
  .hero {
    width: 83%;
  }
  .nav {
    padding: 30px 20px;
  }
}
@media (max-width: 1205px) {
  .card__img-wrapper--gift {
    left: 50%;
    top: -50%;
    transform: translateX(-50%) translateY(-50%);
    width: 60vw;
    height: 60vw;
    max-width: 500px;
    max-height: 500px;
    min-width: 200px;
    min-height: 200px;

    display: flex;
    align-items: center;
    justify-content: center;
  }
  .card__img-wrapper--gift img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
  .card--gift {
    padding: 65px 40px 40px 40px;
    margin-top: 400px;
    transform: none;
    width: 70vw;
    height: auto;
  }
}
@media (max-width: 970px) {
  .hero {
    width: 100%;
  }
  .header {
    width: 100%;
    height: auto;
    position: relative;
    right: auto;
    top: auto;
    border-left: none;
    border-bottom: 1px solid var(--light-gray);
  }
  .nav__list {
    padding: 5px 20px;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-left: 50px;
    transform: none;
  }
  .nav {
    position: relative;
    padding: 20px;
  }
  .nav__cart-wrapper {
    position: absolute;
    margin-top: 0;
    left: 25px;
    top: 25px;
  }
  .card__details {
    gap: 30px;
  }
  .card__buttons--gift {
    gap: 20px;
  }
}

@media (max-width: 875px) {
  .nav__list {
    display: none;
    display: flex;
    flex-direction: column;
    z-index: 3;
    padding: 0;
    margin: 0;
    width: 100vw;
    height: 100vh;
    gap: 25px;
    visibility: hidden;
    opacity: 0;
    justify-content: center;
    transition: all 0.4s ease-in-out;
    transform: translateY(-100%);
  }
  .nav__cart-wrapper {
    display: none;
    opacity: 0;
    transition: all 0.4s ease-in-out;
  }
  .nav {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 70px;
    background-color: var(--primary);
    z-index: 999;
    transition: all 0.4s ease-in-out;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  }
  .burger-menu {
    display: block;
    top: 50%;
    transform: translateY(50%);
  }
  .burger-icon {
    display: block;
  }
  .burger-checkbox:checked ~ .nav {
    height: 100vh;
    align-items: flex-start;
  }
  .burger-checkbox:checked ~ .nav .nav__list {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
  }
  .burger-checkbox:checked ~ .nav .nav__cart-wrapper {
    display: block;
    opacity: 1;
  }
  .burger-checkbox:checked ~ .burger-menu .burger-icon {
    display: none;
  }
  .burger-checkbox:checked ~ .burger-menu .close-icon {
    display: block;
  }

  .card--product {
    flex-direction: column;
  }
  .slider-btn--next {
    right: 0;
  }
  .card__content--product {
    background-color: white;
  }
  .cards-grid--menu {
    background-color: var(--light-gray);
  }
  .menu::before {
    background-color: white;
  }
  .hero__logo {
    top: 17%;
  }
}
@media (max-width: 810px) {
  .combo::before {
    background-color: white;
  }
}
@media (max-width: 640px) {
  .hero__title {
    font-size: 36px;
  }
  .card__img-wrapper--gift {
    top: -25%;
  }
  .card--gift {
    margin-top: 230px;
  }
}

@media (max-width: 600px) {
  .slider-btn--next {
    display: none;
  }
}

@media (max-width: 580px) {
  .giftset__pagination {
    position: absolute;
    display: flex;
    width: 100%;
    bottom: 0;
    right: 0;
    transform: translateY(100%);
  }
  .pagination__item {
    width: calc(100% / 3);
    height: 60px;
  }
  .giftset {
    padding: 60px 0 120px 0;
  }
  .pagination__item {
    font-weight: 700;
    font-size: 24px;
  }
}

@media (max-width: 530px) {
  .card__img-wrapper--gift {
    top: -10%;
  }
  .card--gift {
    margin-top: 150px;
  }
}
